.button 
{
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-border-style: solid;
    -fx-border-color: black; /* Border color */
    -fx-border-width: 1px;

}

.label 
{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
}