@font-face 
{
    font-family: "Monocraft";
    src: url('file:src/fonts/Monocraft.ttf');
}

@font-face 
{
    font-family: "Monocraft-Light";
    src: url('file:src/fonts/Monocraft-Light.ttf');
}

@font-face 
{
    font-family: "Monocraft-Bold";
    src: url('file:src/fonts/Monocraft-Bold.ttf');
}

@font-face 
{
    font-family: "Monocraft-Italic";
    src: url('file:src/fonts/Monocraft-Italic.ttf');
}

#back-button
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/buttons/back_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 100px; 
    -fx-pref-height: 40px;
}

#start-button 
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/buttons/start_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 155px; 
    -fx-pref-height: 50px;
}

#credits-button
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/buttons/credits_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 155px; 
    -fx-pref-height: 50px;
}

#exit-button
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/buttons/exit_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 155px; 
    -fx-pref-height: 50px;
}

#title-button
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/title.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 450px; 
    -fx-pref-height: 175px;
}

#btn-continue
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/pauseBtns/continue_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 52px; 
    -fx-pref-height: 50px;
}

#btn-retry
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/pauseBtns/retry_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 100% 100%;
    -fx-padding: 0;

    -fx-pref-width: 52px; 
    -fx-pref-height: 50px;
}

#btn-menu
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/pauseBtns/home_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    
    -fx-pref-width: 52px; 
    -fx-pref-height: 50px;
} 

#gameOver-menu
{
    -fx-background-color: rgba(0,0,0,0.65); 
    -fx-padding: 30; 
    -fx-alignment: center;
}

#gameOver-box
{
    -fx-alignment: center;
}

#back-button
{
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/buttons/back_up.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 100% 100%;
    -fx-padding: 0;
    
    -fx-pref-width: 52px; 
    -fx-pref-height: 50px;
}

#back-button:pressed
{
    -fx-background-image: url('../assets/buttons/back_down.png');
}

#btn-continue:pressed
{
    -fx-background-image: url('../assets/pauseBtns/continue_down.png');
}

#btn-retry:pressed
{
    -fx-background-image: url('../assets/pauseBtns/retry_down.png');
}

#btn-menu:pressed
{
    -fx-background-image: url('../assets/pauseBtns/home_down.png');
}

#pause-menu
{
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-alignment: center;
}

#buttons-box
{
    -fx-alignment: center;
}

#gameOver-title
{
    -fx-text-fill: white; 
    -fx-font-size: 36; 
    -fx-font-family: "Monocraft";
    -fx-font-weight: bold
}

#gameOver-score
{
    -fx-text-fill: white; 
    -fx-font-size: 24;
    -fx-font-family: "Monocraft";
}

#paused-label
{
    -fx-text-fill: white; 
    -fx-font-size: 40px; 
    -fx-font-family: "Monocraft";
    -fx-font-weight: bold;

    -fx-effect: dropshadow(one-pass-box, black, 0, 0, 2, 0),
                dropshadow(one-pass-box, black, 0, 0, -2, 0),
                dropshadow(one-pass-box, black, 0, 0, 0, 2),
                dropshadow(one-pass-box, black, 0, 0, 0, -2);
}

#credits-box
{
    -fx-background-color: rgba(0, 0, 0, 0.7); 
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-alignment: center;
}

#credit-label
{
    -fx-text-fill: white; 
    -fx-font-size: 16px; 
    -fx-text-alignment: center;
    -fx-font-family: "Monocraft";
}

#highscore-label
{
    -fx-text-fill: white; 
    -fx-font-size: 20px; 
    -fx-font-family: "Monocraft";
    -fx-font-weight: bold;
}

#start-button:pressed
{
    -fx-background-image: url('../assets/buttons/start_down.png');
}

#credits-button:pressed
{
    -fx-background-image: url('../assets/buttons/credits_down.png');
}

#exit-button:pressed
{
    -fx-background-image: url('../assets/buttons/exit_down.png');
}

.app-background
{
    -fx-background-image: url('../assets/dropmaster_bg.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
